.appear {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}

.appearActive {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}

.appearDone {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}

.enter {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}

.enterActive {
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.enterDone {
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.exit {
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.exitActive {
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.exitDone {
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}
